/* General */
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
}


/* Layout */
.container {
    min-height: 75vh;
    padding: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: rgba(0, 0, 0, 0.6);
}

.modal {
    margin: 2rem;
    width: auto;
    max-height: 50vh;
    overflow: auto;
    border-radius: 8px;
    background: #ffffff;
}

.modalContent {
    padding: 2rem;
}

.modalContent span {
    opacity: .8;
    margin: 1rem 0;
    font-weight: 500;
    letter-spacing: 1px;
}

.modalButtons {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.modalButtons button {
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 30px;
    margin-left: 1rem;
    font-weight: 600;
    font-size: 16px;
    transition: .25s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.modalButtons .main {
    color: #eeeeee;
    background: #6037B3;
}

.modalButtons .main:hover {
    background: #512b9c;
}

.modalButtons .main:active {
    background: #6037B3;
}

.modalButtons .secondary {
    background: #eeeeee;
}

.modalButtons .secondary:hover {
    background: #dbdbdb;
}
.modalButtons .secondary:active {
    background: #eeeeee;
}

.modalButtons .danger {
    color: #eeeeee;
    background: #cf0000;
    margin-left: 0 !important;
}

.modalButtons .danger:hover {
    background: #af0000;
}

.modalButtons .danger:active {
    background: #cf0000;
}



@media only screen and (max-width: 991px) {
    .modal {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .container {
        padding: 1rem 2rem;
    }
}

@media only screen and (max-width: 500px) {
    .modalButtons {
        flex-direction: column-reverse;
    }
    
    .mainButtons {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 1rem;
    }

    .modalButtons button {
        width: 100%;
        margin: 8px 0;
    }
}